@media (max-width: 800px){
    #main #lateral{
        display: none;
    }
    #mobile{
     display: flex;
 }
 #conteudo{
     margin-left: 30px;
 }
}

#mobile{
    padding-bottom: 50px;
}
#mobile #lateral{
    padding-top: 40px;
    display: flex;    
}
#mobile #lateral .menu-lateral{  
    height: 320px;  
    background-color: rgb(255, 255, 255);
    padding: 30px 30px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.116);
}
#mobile #lateral .menu-lateral img{    
    height: 250px;
}
#mobile .titulo{
    color: #507B9B;
    background-color: rgba(128, 128, 128, 0.13);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 4rem;
}

#mobile #conteudo{    
    padding-top: 40px ;
    padding-right: 40px;        
}
#mobile #conteudo .conteudo{
    padding: 40px 20px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.116);
}

#mobile #conteudo .conteudo #vagas_destaque{
    text-align: start;
    padding: 50px 50px 50px 50px;
}
#mobile #conteudo .conteudo #vagas_destaque table{
    text-align: center;
}

