{% extends 'base_site.html' %}
{% block title %}{{tipo_cadastro}} Vaga{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
{% load widget_tweaks %}   
{% load bootstrap5 %} 
{% if success.0 %}
<div class="row px-4 mb-3">
    <div class="col d-flex bg-success py-2">
        <p class="m-auto text-white">{{success.1}}</p>
    </div>
</div>
{% endif %}                
<div class="row">
    <div class="col d-flex">
        
      <h2 class="text-start text-uppercase mb-4">{{ tipo_cadastro }} EMPRESA</h2>
      {% if request.user.is_staff %}
      <span class="ms-auto">
        <a class="btn btn-btfl bg-primary" href="{% url 'vagas:empresas' %}">Empresas</a>
      </span>
      {% endif %}
    </div>
  </div>
<form id="form_cadastro_vaga" method="post" class="form w-100 text-start">
    <div class="row">
        <div class="col px-5">
           
            {% csrf_token %}
            {% for f in form %}                
            {% if not f.is_hidden %}
                <label class="text-uppercase" for="id_{{f.name}}">{{f.label}}:</label>        
            {% endif %}
            {% if f.errors %}
                {{f|add_class:'form-control  my-2 is-invalid'}}
            {% elif f.name == 'contato_email' %}
            <div class="form-check form-switch" style="margin: 0; padding-left: 0;">                                                
                {{f|add_class:'form-check-input my-2'|attr:'type:checkbox'|attr:'role=switch'|attr:"onclick=fcontato_email()"}}
                <span id="span_contato_email">{% if f.value %}Sim.{% else %}Não.{% endif %}</span>
            </div>
            {% elif f.name == 'contato_presencial' %}
            <div class="form-check form-switch" style="margin: 0; padding-left: 0;">                                                
                {{f|add_class:'form-check-input my-2'|attr:'type:checkbox'|attr:'role=switch'|attr:"onclick=fcontato_presencial()"}}
                <span id="span_contato_presencial">{% if f.value %}Sim.{% else %}Não.{% endif %}</span>
            </div>
            {% elif f.name == 'contato_telefone' %}
            <div class="form-check form-switch" style="margin: 0; padding-left: 0;">                                                
                {{f|add_class:'form-check-input my-2'|attr:'type:checkbox'|attr:'role=switch'|attr:"onclick=fcontato_telefone()"}}
                <span id="span_contato_telefone">{% if f.value %}Sim.{% else %}Não.{% endif %}</span>
            </div>
            {% elif f.name == 'contato_whatsapp' %}
            <div class="form-check form-switch" style="margin: 0; padding-left: 0;">                                                
                {{f|add_class:'form-check-input my-2'|attr:'type:checkbox'|attr:'role=switch'|attr:"onclick=fcontato_whatsapp()"}}
                <span id="span_contato_whatsapp">{% if f.value %}Sim.{% else %}Não.{% endif %}</span>
            </div>
            {% else %}
                {%if f.name == 'cnpj' %}
                {{f|add_class:'form-control bg-light my-2'|attr:'onkeydown:mascara(this,icnpj)'|attr:'maxlength:18'}}
                {% else %}
                {{f|add_class:'form-control bg-light my-2'}}
                {% endif %}
            {% endif  %}
            <div class="invalid-feedback mb-2">
                {{f.errors.0}}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary text-white w-100 mt-3">
            {{tipo_cadastro}}
            </button>

        </div>      
    </div>    
    <style>
        #form_cadastro_vaga ul, li{
            list-style: none;
        }
        #form_cadastro_vaga button:hover{
            background-color: #329787 !important;
            border-color: #329787
            color: white !important;
        }
        #form_cadastro button, .btn-primary{
            background-color: #329787 !important;
            border-color: #329787;
        }
        #id_ativo{
            opacity: 0;
        }
        .form-check{
            display: flex;            
        }
        .form-switch span{
            margin-left: 10px;
            padding-top: 4px;
        }

        .form-switch .form-check-input{
            margin-left: 0;
        }
        .form-check-input:checked[type=checkbox]{
            background-color:#329787;
        }
        ul, li{
            margin: 0;
            padding: 0;
        }
    </style>
</form>
<script>
    function fcontato_email(){
        span=document.getElementById('span_contato_email')
        if (span.innerText=='Sim.'){
            span.innerText='Não.';
        }else{
            span.innerText='Sim.';
        }
    }
    function fcontato_presencial(){
        span=document.getElementById('span_contato_presencial')
        if (span.innerText=='Sim.'){
            span.innerText='Não.';
        }else{
            span.innerText='Sim.';
        }
    }
    function fcontato_telefone(){
        span=document.getElementById('span_contato_telefone')
        if (span.innerText=='Sim.'){
            span.innerText='Não.';
        }else{
            span.innerText='Sim.';
        }
    }
    function fcontato_whatsapp(){
        span=document.getElementById('span_contato_whatsapp')
        if (span.innerText=='Sim.'){
            span.innerText='Não.';
        }else{
            span.innerText='Sim.';
        }
    }
    function icnpj(v){
        v=v.replace(/\D/g,"")                    //Remove tudo o que nao e digito
        v=v.replace(/(\d{2})(\d)/,"$1.$2")       //Coloca um ponto entre o segundo e terceiro digitos
        v=v.replace(/(\d{3})(\d)/,"$1.$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{3})(\d)/,"$1/$2")       //Coloca um ponto entre o quinto e o sexto digitos
        v=v.replace(/(\d{4})(\d)/,"$1-$2")       //Coloca um ponto entre o quinto e o sexto digitos
        // v=v.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5")
        return v
    }
    function itelefone(v){
        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
        v=v.replace(/(\d{4})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
        return v
    }
    function icelular(v){
        v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
        v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
        v=v.replace(/(\d{5})(\d)/,"$1-$2")    //Coloca hifen entre o quarto e o quinto digitos
        return v
    }
    function mascara(o,f){
        v_obj=o
        v_fun=f
        setTimeout("execmascara()",1)
    }            
    function execmascara(){
        v_obj.value=v_fun(v_obj.value)
    }
    function itel(v){
        if (v.length==15){
            v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
            v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
            v=v.replace(/(\d{5})(\d)/,"$1-$2")  
        }else{
            v=v.replace(/\D/g,"")                 //Remove tudo o que nao e digito
            v=v.replace(/^(\d\d)(\d)/g,"($1) $2") //Coloca parenteses em volta dos dois primeiros digitos
            v=v.replace(/(\d{4})(\d)/,"$1-$2")    // 
        }
        return v
    }
</script>


{% endblock %}