<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: Verdana, Arial, sans-serif;
        }
        p{
            text-indent: 30px;
            text-align: justify;
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        span{
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        b{
            text-transform: uppercase;
        }
    </style>
</head>
<body style="display: flex;">
    <div style="margin: auto; width: 100%;">
        <header style="display: flex; width: 800px; margin: auto; ">            
            <img src="{% static 'images/logo.jpg' %}" style="height: 110px;" alt="">            
            <img src="{% static 'images/SUBSECRETARIA.png' %}" style="width: 500px; height: auto; margin-left:0px; margin-right: 0px; margin-top: auto; margin-bottom: auto; margin-left: auto;" alt="">            
        </header>
        <main style="padding: 0 100px; width: 800px; display: flex; flex-direction: column; padding-top: 60px; margin: auto;"> 
            <h1 style="margin: auto;">ENCAMINHAMENTO</h1>

            <span style="margin-top: 40px;">Prezado(a),</span>
            <p>
                A CASA DO TRABALHADOR, no exercício de suas atribuições legais e regimentais,  
                encaminha pelo presente o candidato <b>{{candidato.nome}}</b>, 
                portador do CPF <b>{{candidato.cpf}}</b>, interessado na vaga de <b>{{vaga.cargo.nome}}</b>{% if not vaga.empresa.ocultar %},
                à empresa <b>{{vaga.empresa.nome}}</b> de CNPJ <b id="cnpj">{{vaga.empresa.cnpj}}</b>{% endif %}.
            </p>
            <p>Pedimos ao candidato que busque fazer contato:</p>            
            {% if vaga.empresa.contato_presencial %}
            <p style="margin: 0 30px;">                
            De forma presencial, munido de seu currículo,  no endereço: <br>
            <span style="text-decoration: underline; margin: 0px 30px;">{{vaga.empresa.endereco}}</span></p>
            {% endif %}
            {% if vaga.empresa.contato_telefone %}
            <p style="margin: 10px 30px;">                
            Por telefone: <br>
            <span id="telefone" style="text-decoration: underline; margin: 0px 30px;">{{vaga.empresa.telefone}}</span></p>
            <script>
                 window.onload = function(){                    
                    document.getElementById('telefone').innerText=document.getElementById('telefone').innerText.replace(/^(\d{1})(\d{1})(\d{4})(\d{4})/, "($1$2) $3-$4")
                };
            </script>
            {% endif %}
            {% if vaga.empresa.contato_whatsapp %}
            <p style="margin: 10px 30px;">                
            Por whatsapp: <br>
            <span id="whatsapp" style="text-decoration: underline; margin: 0px 30px;">{{vaga.empresa.whatsapp}}</span></p>
            <script>
                 window.onload = function(){                    
                    document.getElementById('whatsapp').innerText=document.getElementById('whatsapp').innerText.replace(/^(\d{1})(\d{1})(\d{4})(\d{4})/, "($1$2) $3-$4")
                };
            </script>
            {% endif %}
            {% if vaga.empresa.contato_email %}
            <p style="margin: 0 30px;">                
            Por email, com seu currículo em anexo,  ao endereço: <br>
            <span style="text-decoration: underline; margin: 0px 30px;">{{vaga.empresa.email}}</span></p>
            {% endif %}
            <p style="margin-top: 30px;">
                <b>OBS.:</b>
                As informações presentes nesta são de responsabilidade do candidato.
            </p>
            <p style="margin-top: 0;">
                Desde já agradecemos e continuamos a disposição de V. srª para maiores
                 informações no telefone (22)2525-9205.                 
            </p>
            <p style="margin-bottom: 0; text-indent: 0;">
                Atenciosamente, <br>
                <span >{{user.first_name}},</span><br>
                <span >mat.: {{user.last_name}}.</span>
            </p>
            <p style="text-align: center; margin-top: 40px; text-indent: 0;">
                Nova Friburgo, {{date}}.
            </p>
            <p style="text-align: center; margin: 80px; text-indent: 0;">
                Wallace Merchioro<br>
                Subsecretário de Trabalho e Renda
            </p>

        </main>
    </div>
    <script>        
        
        window.onload = function(){
            cnpj=String(document.getElementById('cnpj').innerHTML);
            console.log(cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5"));
            document.getElementById('cnpj').innerHTML=cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2})/, "$1.$2.$3/$4-$5");
        };
    </script>
</body>
</html>