{% load static %}
{% load bootstrap5 %}
{% load widget_tweaks %}
<form id="form_cadastro_vaga" method="post" class="form w-100">
    <div class="row">
        <div class="col px-5">
            {% if success.0 %}
            <div class="row px-2 mb-3">
                <div class="col d-flex bg-success">
                    <p class="m-auto text-white">{{success.1}}</p>
                </div>
            </div>
            {% endif %}
            {% csrf_token %}
            {% for f in form %}                       
            {% if not f.name in hidden %}
                <label class="text-uppercase" for="id_{{f.name}}">{{f.label}}:</label>
            {% endif %}
            {% if f.errors %}
                {{f|add_class:'form-control  my-2 is-invalid'}}
            {% elif f.name == 'destaque' %}
            <div class="form-check form-switch" style="margin: 0; padding-left: 0;">
                {{f|add_class:'form-check-input bg-light my-2'|attr:'type:checkbox'|attr:'role=switch'}}
                <label class="form-check-label" for="id_{{f.name}}" id="for_{{f.name}}">Adicionar aos destaques?</label>
            </div>
            {% else %}
                {{f|add_class:'form-control bg-light my-2'}}
            {% endif  %}
            <div class="invalid-feedback mb-2">
                {{f.errors}}
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary text-white w-100 mt-3">
              Cadastrar
            </button>

        </div>      
    </div>    
    <style>
        #form_cadastro_vaga ul, li{
            list-style: none;
        }
        #form_cadastro_vaga button:hover{
            background-color: #507B9B !important;
            border-color: #507B9B;
            color: white !important;
        }
        #form_cadastro button, .btn-primary{
            background-color: #329787 !important;
            border-color: #329787;
        }
    </style>
</form>