<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: Verdana, Arial, sans-serif;
        }
        p{
            text-indent: 30px;
            text-align: justify;
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        span{
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        b{
            text-transform: uppercase;
        }
    </style>
</head>
<body style="display: flex;">
    <div style="margin: auto; width: 100%;">        
        <main style="padding: 0 100px; width: 800px; display: flex; flex-direction: column; padding-top: 60px; margin: auto;"> 
            <img src="{% static 'images/casa-do-trabalhador.png' %}" style="height: 400px; margin-left:auto; margin-right: auto; margin-top: 10px;" alt="">            
            <h1 style="margin: auto;padding-top: 50px; padding-bottom: 50px; text-align: center;">SUBSECRETARIA DE TRABALHO E RENDA</h1>
            <h2 style="margin: auto; padding-bottom: 50px; text-align: center; text-decoration: underline;">ORIENTAÇÕES PARA BUSCA DE VAGAS</h2>            
            <h2>
                Cargo: Sua profissão ou área de atuação de trabalho.<br>
                Experiência:<br>
                - Sim: Quando você já tem experiência em carteira.<br>
                - Não: Quando você não tem experiência nenhuma.<br>
                Escolaridade:<br>
            </h2>
            <h1 style="margin: auto; padding-bottom: 50px;">Vagas Disponíveis</h1>
            <table class="table table-hover mt-4" style="font-size: 14pt;">
                <thead>
                    <tr style="background-color: rgb(0, 0, 0); color: white; height: 30pt; font-family: Arial, sans-serif;">  
                        <th scope="col">Vagas</th>
                        <th scope="col">Cargo</th>
                        <th scope="col">Experiência</th>
                        <th scope="col">Escolaridade</th>                            
                      </tr>
                    </thead>
                    <tbody>
                    {% for vaga in vagas %}        
                    <tr style="height: 30pt;background-color: rgba(230, 230, 230, 0.274); text-align: center;">
                        <td scope="row">{{vaga.quantidadeVagas}}</td>
                        <td>{{vaga.cargo}}</td>            
                        <td>{{vaga.experiencia}}</td>      
                        <td>{{vaga.escolaridade}}</td>                     
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
        </main>
    </div>
</body>
</html>