<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akshar:wght@600&family=Roboto&display=swap" rel="stylesheet">
    <style>
        h1{
            font-family: Verdana, Arial, sans-serif;
        }
        p{
            text-indent: 30px;
            text-align: justify;
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        span{
            font-family: Arial, sans-serif;
            font-size: 14pt;
        }
        b{
            text-transform: uppercase;
        }
    </style>
</head>
<body style="display: flex;">
    <div style="margin: auto; width: 100%;">
        <iframe src="http://casadotrabalhador.pmnf.rj.gov.br/vagas/table/" frameborder="0"></iframe>
    </div>
</body>
</html>