<!DOCTYPE HTML>
<html>
	<head>
		<title>Casa do Trabalhador</title>
		<meta charset="utf-8" />
		{% load static %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="#">
                            <img src="/static/images/logo.jpg" alt="">
                        </a></h1>
						<nav class="links">
							<div class="header-links m-auto">
                                <a href="{% url 'vagas:home' %}">Inicio</a>
                                <a href="{% url 'vagas:vagas' %}">Vagas Disponiveis</a>
								{% if user.is_authenticated %}
                                <a href="{% url 'vagas:cadastrar_vaga' %}">Cadastrar Vaga</a>
								{% endif %}
                            </div>
						</nav>
						<nav class="main">
							<div class="m-auto">
                                <ul>
                                    <!-- <li class="search">
                                        <a class="fa-search" href="#search">Search</a>
                                        <form id="search" method="get" action="#">
                                            <input type="text" name="query" placeholder="Search" />
                                        </form>
                                    </li> -->
                                    <li class="menu">
                                        <a class="fa-bars" href="#menu">Menu</a>
                                    </li>
                                </ul>
                            </div>
						</nav>
					</header>

				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<!-- <section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section> -->

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'vagas:home' %}">
											<h3>Inicio</h3>											
										</a>
									</li>
									<li>
										<a href="#">
											<h3>VAGAS DISPONIVEIS</h3>											
										</a>
									</li>
									{% if user.is_authenticated %}
									<li>
										<a href="{% url 'vagas:cadastrar_vaga' %}">
											<h3>Cadastrar vaga</h3>											
										</a>
									</li>
									{% endif %}
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
                                    {% if user.is_authenticated %}
									<li><a href="{% url 'vagas:logout' %}" class="button large fit">Logout</a></li>
                                    {% else %}
                                    <li><a href="{% url 'vagas:login' %}" class="button large fit">Login</a></li>
                                    {% endif %}
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						{% block main %}{% endblock %}


					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">								
								<header>
									<img class="logo" src="/static/images/casa-do-trabalhador.png" alt="">									
								</header>
								{% if user.is_authenticated %}
								<h5 class="mt-4 text-center">{{user}}</h5>
								{% endif %}
							</section>

						<!-- Mini Posts -->
							<!-- <section>
								<div class="mini-posts"> -->

									<!-- Mini Post -->
										<!-- <article class="mini-post">
											<header>
												<h3><a href="single.html">Vitae sed condimentum</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><img src="/static/images/avatar.jpg" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic04.jpg" alt="" /></a>
										</article> -->

									<!-- Mini Post -->
										<!-- <article class="mini-post">
											<header>
												<h3><a href="single.html">Rutrum neque accumsan</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2015</time>
												<a href="#" class="author"><img src="/static/images/avatar.jpg" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic05.jpg" alt="" /></a>
										</article> -->

									<!-- Mini Post -->
										<!-- <article class="mini-post">
											<header>
												<h3><a href="single.html">Odio congue mattis</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2015</time>
												<a href="#" class="author"><img src="/static/images/avatar.jpg" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic06.jpg" alt="" /></a>
										</article> -->

									<!-- Mini Post -->
										<!-- <article class="mini-post">
											<header>
												<h3><a href="single.html">Enim nisl veroeros</a></h3>
												<time class="published" datetime="2015-10-17">October 17, 2015</time>
												<a href="#" class="author"><img src="/static/images/avatar.jpg" alt="" /></a>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic07.jpg" alt="" /></a>
										</article> -->

								<!-- </div>
							</section> -->

						<!-- Posts List -->
							<!-- <section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic08.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Convallis maximus nisl mattis nunc id lorem</a></h3>
												<time class="published" datetime="2015-10-15">October 15, 2015</time>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic09.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Euismod amet placerat vivamus porttitor</a></h3>
												<time class="published" datetime="2015-10-10">October 10, 2015</time>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic10.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Magna enim accumsan tortor cursus ultricies</a></h3>
												<time class="published" datetime="2015-10-08">October 8, 2015</time>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic11.jpg" alt="" /></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Congue ullam corper lorem ipsum dolor</a></h3>
												<time class="published" datetime="2015-10-06">October 7, 2015</time>
											</header>
											<a href="single.html" class="image"><img src="/static/images/pic12.jpg" alt="" /></a>
										</article>
									</li>
								</ul>
							</section> -->

						<!-- About -->
							<!-- <section class="blurb">
								<h2>Sobre</h2>
								<p>Para demais informações a sede da Casa do Trabalhador fica na avenida Alberto Braune, nº 223, na antiga Rodoviária, no Centro, ao lado da sede da Prefeitura de Nova Friburgo, de segunda à sexta-feira, das 9h às 17h. O telefone de contato é o (22) 2525-9205.</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section> -->

						<!-- Footer -->
							<section id="footer">
								<!-- <ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul> -->
								<!-- <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. /static/images: <a href="http://unsplash.com">Unsplash</a>.</p> -->
							</section>

					</section>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>