{% extends 'base_site.html' %}
{% load static %}
{% block title %}Vagas Ofertadas{% endblock %}
{% block css %}
{{block.super}}
{% endblock%}
{% block main_conteudo %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<div class="col">
    <!-- <h2 class="text-start">VAGAS DISPONÍVEIS</h2> -->
    <div class="row">
      <div class="col d-flex">
        <h2 class="text-start">VAGAS OFERTADAS</h2>
        {% if request.user.is_staff %}
        <span class="ms-auto">
          <a class="btn btn-btfl me-2 px-3" href="{% url 'vagas:imprimir' %}"><i class="fas fa-print"></i></a>
          <a class="btn btn-btfl" href="{% url 'vagas:cadastrar' %}">CADASTRAR</a>
        </span>
        {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col d-flex">
        <style>
          #buscador {
            background-image: url('/static/images/search.png');
            background-position: 10px 8px;
            background-repeat: no-repeat;            
            font-size: 16px;
            padding: 12px 0px 12px 50px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
          }
        </style>
        <input type="text" id="buscador" class="w-100" placeholder="Procurar...">
      </div>
    </div>
    <table class="table table-hover">
      <!-- <thead>
        <tr> 
            {% if user.is_authenticated %}
            <th></th>
            {% endif %}
            <th scope="col">Vagas</th>
            <th scope="col">Cargo</th>
            <th scope="col">Empresa</th>
            <th scope="col">Vagas</th>
            <th scope="col">Experiência</th>
            <th scope="col">Escolaridade</th>      
            {% if user.is_authenticated %}
            <th>Empresa</th>                      
            {% endif %}
          </tr>
        </thead>-->
          <tbody id="busca"> 
          {% for vaga in vagas %}        
          <tr id="{{forloop.counter}}" style="background-color: rgba(230, 230, 230, 0.274);">
            <div id="{{forloop.counter}}-div" class="text-start py-4">
                <div class="row">
                  <div class="col d-flex">
                    <div>
                      <div class="d-flex">                        
                        <h4 id="{{forloop.counter}}-cargo" class="cargo">{{vaga.cargo}}</h4>                        
                      </div>
                      

                      <div>
                        <small>Vagas: {{vaga.quantidadeVagas}}</small>
                        <span class="ms-4 text-gray"><i>Requer experiência!</i></span>
                      </div>
                    </div>
                    <div class="ms-auto text-center">
                      <a href="{% url 'vagas:visualizar_vaga' vaga.id %}" class="btn btn-success">
                        DETALHES DA VAGA
                      </a>
                      {% if vaga.tipo_de_vaga != 'NML' %}
                      <span class="d-flex">
                        <h6 class="me-auto mt-3">[</h6>
                        <h6 class="ms-auto mt-3"> {{vaga.get_tipo_de_vaga_display}} </h6>
                        <h6 class="ms-auto mt-3">]</h6>
                      </span>
                      {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col pt-1">
                    <div>                      
                      <span><b class="me-1">Escolaridade:</b> {{vaga.escolaridade}}</span>
                      <span class="ms-4"><b>Carga hóraria:</b> {{vaga.carga_horaria}}</span>
                      <span class="ms-4">
                        {% if vaga.regime != '' %}
                        <b>Regime:</b> {{vaga.regime}}
                      {% endif %}</b></span>
                    </div>
                   <div>

                   </div>
                  </div>
                </div>                
            </div>              
            </tr>
          {% endfor %}
      </tbody>
    </table>
    <style>
      td img{
        visibility: hidden;
      }
      table{
        font-size:  0.9em;
      }
      h4{
        color: #507B9B;
        font-weight: 700;
        text-transform: uppercase;
      }
      .text-gray{
        color: gray;
      }
    </style>
    <script>
      function showEditIcon(id){
        id.style.visibility='visible'              
      }
      function hiddenEditIcon(id){
        id.style.visibility='hidden'              
      }
      $(document).ready(function(){
        $("#buscador").on("keyup", function() {          
          var value = $(this).val().toLowerCase();
          
          $("#busca tr").filter(function(t) {  
            tr=document.getElementById(this.id)                                           
            div=document.getElementById(this.id+'-div')
            
            cargo=document.getElementById(this.id+'-cargo').innerText.toLowerCase() 
            console.log(value + ' ' +cargo.indexOf(value))               
            if (cargo.indexOf(value)>=0) {
                
                div.style.display = "block";
                tr.style.display = "block";
            }else {
                
                div.style.display = "none";
                tr.style.display = "none";                
            }

          });
        });
      });      
    </script>
</div>
{% endblock %}