{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Vagas</th>
            <th scope="col">Cargo</th>
            <th scope="col">Experiência</th>
            <th scope="col">Escolaridade</th>

          </tr>
        </thead>
        <tbody>
        {% for vaga in vagas %}        
        <tr style="background-color: rgba(230, 230, 230, 0.274);"></tr>
            <th scope="row">{{vaga.quantidadeVagas}}</th>
            <td>{{vaga.cargo.nome}}</td>                        
            <td>{{vaga.experiencia}}</td>      
            <td>{{vaga.escolaridade}}</td>      
          </tr>
        {% endfor %}
    </tbody>
  </table>
  <style>
    table{
      font-size:  0.9em;
    }
  </style>