{% extends 'base_template.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}">
{% endblock %}
{% block head_js %}
{% endblock %}
{% block header %}
{% include 'header.html' %}
{% endblock %}
{% block main%}
<div class="row pt-4" style="margin: 0 19px;">
    <div id="div_menu" class="col border">
        <div id="myNavBar" class="w-100 justify-content-beetween"                                                                                                                                                                                                                                                                >
            <a class="btn" href="/"><i class="fas fa-home me-2"></i><span class="mobile_hidden">Página Inicial</span></a>            
            <a class="btn" href="{% url 'vagas:vagas' %}"><i class="fas fa-bullhorn me-2"></i><span class="mobile_hidden">Vagas Ofertadas</span></a>
            {% if request.user.is_staff %}
            <div class="dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-archive me-2"></i> Cadastrar
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="{% url 'vagas:cadastrar_empresa' %}"><i class="fas fa-building me-3"></i>Empresa</a></li>
                  <li><a class="dropdown-item" href="{% url 'vagas:cadastrar_vaga' %}"><i class="fas fa-briefcase me-2"></i> Vaga</a></li>
                  <li><a class="dropdown-item" href="{% url 'vagas:cadastrar_escolaridade' %}"><i class="fas fa-graduation-cap me-2"></i>Escolaridade</a></li>
                  <li><a class="dropdown-item" href="{% url 'vagas:cadastrar' %}"><i class="fas fa-bullhorn me-2"></i>Vaga Ofertada</a></li>
                </ul>
            </div>
            <a class="btn" href="#"><i class="fas fa-chart-pie me-2"></i><span class="mobile_hidden">Indicadores</span></a>
            <a class="btn ms-auto" href="/admin"><i class="fas fa-user-cog me-2"></i><span class="mobile_hidden">Administração</span></a>
            {% else %}
            {% if request.user.is_authenticated %}
            <a class="btn ms-auto" href="#"><i class="fas fa-user-cog me-2"></i></i></i>Minha Conta</a>
            {% endif %}
            {% endif %}

        </div>
        <span id="closeBtn" class="mobile btn btn-btfl ms-auto" onclick="closeMenu()"> FECHAR</span>
    </div>
</div>
<div id="main" class="row">
    <div class="col">
        <div class="row">
            <div id="lateral" class="col-3">
                <div class="menu-lateral">
                    <a href="/">
                        <img src="/static/images/casa-do-trabalhador.png" alt="">
                    </a>
                </div>
            </div>
            <div id="conteudo" class="col text-center">
                <div class="conteudo row">
                    {% block main_conteudo %}{% endblock %}
                </div>
            </div>
        </div>
    </div>    
</div>

{% endblock %}
{% block end_js %}
<script>
    function showMenu(){        
        document.getElementById('closeBtn').style.opacity=1;
        div_menu=document.getElementById('div_menu')        
        div_menu.style.height='auto';
        div_menu.style.fontSize='12pt';
        div_menu.style.opacity=1;
        div_menu.style.paddingBottom='8px';
        div_menu.style.paddingTop='8px'
        setTimeout(teste('flex'), 1000);
        
    }
    function closeMenu(){
        document.getElementById('closeBtn').style.opacity=0;
        div_menu=document.getElementById('div_menu')
        div_menu.style.height='0px';
        div_menu.style.fontSize='0pt';
        div_menu.style.opacity=0
        div_menu.style.paddingBottom='0px';
        div_menu.style.paddingTop='0px'
        setTimeout(teste('none'), 1000);
    }
    function teste(v){
        document.getElementById('myNavBar').style.display=v
    }
</script>
{% endblock %}