{% extends 'base_template.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
{% endblock %}
{% block head_js %}
    <script type="text/javascript">
        var onloadCallback = function() {
            grecaptcha.render('html_element', {
            'sitekey' : '6LdiIsweAAAAAKHnfIgGx1V-olIVbAFEBUJY5MHb',
            });
        };
    </script>
{% endblock %}
{% block header %}
{% include 'header_login.html' %}
{% endblock %}
{% block main%}
        <img src="/static/images/casa-do-trabalhador.png" alt="">
        <div class="container p-5 m-auto rounded">
            <form method="POST">
                <h1>Login</h1>
                {% csrf_token %}{% if error %}<div class="row px-2 pt-4">
                    <div class="col bg-danger text-white text-center p-3">                                                
                            Seu nome de usuário e senha não conferem. 
                            Por favor, tente de novo. 
                    </div>
                </div>{% endif %}{% if error2 %}<div class="row px-2 pt-4">
                    <div class="col bg-danger text-white text-center p-3">                                                
                            Não aceitamos robôs por aqui.
                    </div>
                </div>{% endif %}
                <div class="mb-3 mt-4">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input name="username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Senha</label>
                  <input  name="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-row d-flex flex-column">                                  
                    <div id="html_element" class="m-auto"></div>                                 
                </div>
                <div class="pt-2">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
              </form>
        </div>{% endblock %}
{% block end_js %}<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script> {% endblock %}